@import "tailwindcss";
:root {
  --Primary-100: #FFFFFF;
  --Primary-99: #FFFBFF;
  --Primary-98: #FFF8F6;
  --Primary-95: #FFEDE7;
  --Primary-90: #FFDBCF;
  --Primary-80: #FFB59B;
  --Primary-70: #FF8C60;
  --Primary-60: #FE5900;
  --Primary-50: #D24800;
  --Primary-40: #A93800;
  --Primary-35: #953000;
  --Primary-30: #812900;
  --Primary-25: #6E2200;
  --Primary-20: #5B1A00;
  --Primary-15: #491400;
  --Primary-10: #380D00;
  --Primary-5: #260700;
  --Primary-0: #000000;
  --Secondary-100: #FFFFFF;
  --Secondary-99: #FFFBFF;
  --Secondary-98: #FFF7FC;
  --Secondary-95: #FDEBFF;
  --Secondary-90: #F6D9FF;
  --Secondary-80: #E3B6F7;
  --Secondary-70: #C79BDA;
  --Secondary-60: #AB81BE;
  --Secondary-50: #9068A3;
  --Secondary-40: #754F88;
  --Secondary-35: #69447C;
  --Secondary-30: #5C386F;
  --Secondary-25: #502C63;
  --Secondary-20: #442157;
  --Secondary-15: #38154B;
  --Secondary-10: #2D0940;
  --Secondary-5: #200033;
  --Secondary-0: #000000;
  --Tertiary-100: #FFFFFF;
  --Tertiary-99: #F8FDFF;
  --Tertiary-98: #F0FBFF;
  --Tertiary-95: #D8F6FF;
  --Tertiary-90: #ABEDFF;
  --Tertiary-80: #86D2E6;
  --Tertiary-70: #6AB6CA;
  --Tertiary-60: #4D9BAE;
  --Tertiary-50: #2F8194;
  --Tertiary-40: #00687A;
  --Tertiary-35: #005B6B;
  --Tertiary-30: #004E5C;
  --Tertiary-25: #00424E;
  --Tertiary-20: #003640;
  --Tertiary-15: #002A33;
  --Tertiary-10: #001F26;
  --Tertiary-5: #001419;
  --Tertiary-0: #000000;
  --Error-100: #FFFFFF;
  --Error-99: #FFFBFF;
  --Error-98: #FFF8F7;
  --Error-95: #FFEDEA;
  --Error-90: #FFDAD6;
  --Error-80: #FFB4AB;
  --Error-70: #FF897D;
  --Error-60: #FF5449;
  --Error-50: #DE3730;
  --Error-40: #BA1A1A;
  --Error-35: #A80710;
  --Error-30: #93000A;
  --Error-25: #7E0007;
  --Error-20: #690005;
  --Error-15: #540003;
  --Error-10: #410002;
  --Error-5: #2D0001;
  --Error-0: #000000;
  --Neutral-100: #FFFFFF;
  --Neutral-99: #FFFBFF;
  --Neutral-98: #FDF8F8;
  --Neutral-95: #F4F0EF;
  --Neutral-90: #E6E1E1;
  --Neutral-80: #C9C6C5;
  --Neutral-70: #AEAAAA;
  --Neutral-60: #939090;
  --Neutral-50: #797676;
  --Neutral-40: #605E5E;
  --Neutral-35: #545252;
  --Neutral-30: #484646;
  --Neutral-25: #3C3B3B;
  --Neutral-20: #313030;
  --Neutral-15: #262526;
  --Neutral-10: #1C1B1B;
  --Neutral-5: #111111;
  --Neutral-0: #000000;
  --Neutral-Variant-100: #FFFFFF;
  --Neutral-Variant-99: #FFFBFF;
  --Neutral-Variant-98: #FDF8F9;
  --Neutral-Variant-95: #F4F0F0;
  --Neutral-Variant-90: #E6E1E2;
  --Neutral-Variant-80: #C9C5C6;
  --Neutral-Variant-70: #AEAAAB;
  --Neutral-Variant-60: #939091;
  --Neutral-Variant-50: #797677;
  --Neutral-Variant-40: #605E5F;
  --Neutral-Variant-35: #545253;
  --Neutral-Variant-30: #484647;
  --Neutral-Variant-25: #3C3B3C;
  --Neutral-Variant-20: #313031;
  --Neutral-Variant-15: #262526;
  --Neutral-Variant-10: #1C1B1C;
  --Neutral-Variant-5: #111112;
  --Neutral-Variant-0: #000000;
}

@theme inline {
  --color-Primary-100: var(--Primary-100);
  --color-Primary-99: var(--Primary-99);
  --color-Primary-98: var(--Primary-98);
  --color-Primary-95: var(--Primary-95);
  --color-Primary-90: var(--Primary-90);
  --color-Primary-80: var(--Primary-80);
  --color-Primary-70: var(--Primary-70);
  --color-Primary-60: var(--Primary-60);
  --color-Primary-50: var(--Primary-50);
  --color-Primary-40: var(--Primary-40);
  --color-Primary-35: var(--Primary-35);
  --color-Primary-30: var(--Primary-30);
  --color-Primary-25: var(--Primary-25);
  --color-Primary-20: var(--Primary-20);
  --color-Primary-15: var(--Primary-15);
  --color-Primary-10: var(--Primary-10);
  --color-Primary-5: var(--Primary-5);
  --color-Primary-0: var(--Primary-0);
  --color-Secondary-100: var(--Secondary-100);
  --color-Secondary-99: var(--Secondary-99);
  --color-Secondary-98: var(--Secondary-98);
  --color-Secondary-95: var(--Secondary-95);
  --color-Secondary-90: var(--Secondary-90);
  --color-Secondary-80: var(--Secondary-80);
  --color-Secondary-70: var(--Secondary-70);
  --color-Secondary-60: var(--Secondary-60);
  --color-Secondary-50: var(--Secondary-50);
  --color-Secondary-40: var(--Secondary-40);
  --color-Secondary-35: var(--Secondary-35);
  --color-Secondary-30: var(--Secondary-30);
  --color-Secondary-25: var(--Secondary-25);
  --color-Secondary-20: var(--Secondary-20);
  --color-Secondary-15: var(--Secondary-15);
  --color-Secondary-10: var(--Secondary-10);
  --color-Secondary-5: var(--Secondary-5);
  --color-Secondary-0: var(--Secondary-0);
  --color-Tertiary-100: var(--Tertiary-100);
  --color-Tertiary-99: var(--Tertiary-99);
  --color-Tertiary-98: var(--Tertiary-98);
  --color-Tertiary-95: var(--Tertiary-95);
  --color-Tertiary-90: var(--Tertiary-90);
  --color-Tertiary-80: var(--Tertiary-80);
  --color-Tertiary-70: var(--Tertiary-70);
  --color-Tertiary-60: var(--Tertiary-60);
  --color-Tertiary-50: var(--Tertiary-50);
  --color-Tertiary-40: var(--Tertiary-40);
  --color-Tertiary-35: var(--Tertiary-35);
  --color-Tertiary-30: var(--Tertiary-30);
  --color-Tertiary-25: var(--Tertiary-25);
  --color-Tertiary-20: var(--Tertiary-20);
  --color-Tertiary-15: var(--Tertiary-15);
  --color-Tertiary-10: var(--Tertiary-10);
  --color-Tertiary-5: var(--Tertiary-5);
  --color-Tertiary-0: var(--Tertiary-0);
  --color-Error-100: var(--Error-100);
  --color-Error-99: var(--Error-99);
  --color-Error-98: var(--Error-98);
  --color-Error-95: var(--Error-95);
  --color-Error-90: var(--Error-90);
  --color-Error-80: var(--Error-80);
  --color-Error-70: var(--Error-70);
  --color-Error-60: var(--Error-60);
  --color-Error-50: var(--Error-50);
  --color-Error-40: var(--Error-40);
  --color-Error-35: var(--Error-35);
  --color-Error-30: var(--Error-30);
  --color-Error-25: var(--Error-25);
  --color-Error-20: var(--Error-20);
  --color-Error-15: var(--Error-15);
  --color-Error-10: var(--Error-10);
  --color-Error-5: var(--Error-5);
  --color-Error-0: var(--Error-0);
  --color-Neutral-100: var(--Neutral-100);
  --color-Neutral-99: var(--Neutral-99);
  --color-Neutral-98: var(--Neutral-98);
  --color-Neutral-95: var(--Neutral-95);
  --color-Neutral-90: var(--Neutral-90);
  --color-Neutral-80: var(--Neutral-80);
  --color-Neutral-70: var(--Neutral-70);
  --color-Neutral-60: var(--Neutral-60);
  --color-Neutral-50: var(--Neutral-50);
  --color-Neutral-40: var(--Neutral-40);
  --color-Neutral-35: var(--Neutral-35);
  --color-Neutral-30: var(--Neutral-30);
  --color-Neutral-25: var(--Neutral-25);
  --color-Neutral-20: var(--Neutral-20);
  --color-Neutral-15: var(--Neutral-15);
  --color-Neutral-10: var(--Neutral-10);
  --color-Neutral-5: var(--Neutral-5);
  --color-Neutral-0: var(--Neutral-0);
  --color-Neutral-Variant-100: var(--Neutral-Variant-100);
  --color-Neutral-Variant-99: var(--Neutral-Variant-99);
  --color-Neutral-Variant-98: var(--Neutral-Variant-98);
  --color-Neutral-Variant-95: var(--Neutral-Variant-95);
  --color-Neutral-Variant-90: var(--Neutral-Variant-90);
  --color-Neutral-Variant-80: var(--Neutral-Variant-80);
  --color-Neutral-Variant-70: var(--Neutral-Variant-70);
  --color-Neutral-Variant-60: var(--Neutral-Variant-60);
  --color-Neutral-Variant-50: var(--Neutral-Variant-50);
  --color-Neutral-Variant-40: var(--Neutral-Variant-40);
  --color-Neutral-Variant-35: var(--Neutral-Variant-35);
  --color-Neutral-Variant-30: var(--Neutral-Variant-30);
  --color-Neutral-Variant-25: var(--Neutral-Variant-25);
  --color-Neutral-Variant-20: var(--Neutral-Variant-20);
  --color-Neutral-Variant-15: var(--Neutral-Variant-15);
  --color-Neutral-Variant-10: var(--Neutral-Variant-10);
  --color-Neutral-Variant-5: var(--Neutral-Variant-5);
  --color-Neutral-Variant-0: var(--Neutral-Variant-0);
}
