<div className="size- p-3 bg-Schemes-Surface-Container-Lowest rounded-md outline outline-1 outline-offset-[-1px] outline-Schemes-Outline inline-flex flex-col justify-start items-start gap-2">
  <div className="self-stretch inline-flex justify-start items-center gap-[3px]">
    <div className="w-3.5 self-stretch relative overflow-hidden">
      <div className="w-2.5 h-3 left-[2.50px] top-[1.25px] absolute bg-Schemes-On-Surface" />
    </div>
    <div className="justify-start text-Schemes-On-Surface text-xs font-normal font-['Inter']">Profesores</div>
  </div>
  <div className="self-stretch h-9 px-1.5 py-2 bg-zinc-100 rounded-md outline outline-1 outline-offset-[-1px] outline-Schemes-Primary inline-flex justify-start items-center gap-2.5">
    <div className="justify-start text-zinc-700 text-sm font-normal font-['Inter']">i</div>
  </div>
  <div className="self-stretch flex flex-col justify-start items-start gap-1">
    <div data-hasicon="True" data-size="xlarge" className="w-64 inline-flex justify-start items-center gap-0.5">
      <div className="flex-1 p-2 bg-zinc-100/0 rounded-tl-sm rounded-tr-xs rounded-bl-sm rounded-br-xs flex justify-start items-center gap-[3px]">
        <div className="flex-1 flex justify-start items-center gap-3">
          <div className="flex-1 self-stretch flex justify-start items-center gap-3">
            <div data-size="Xlarge" className="size-8 bg-EMP rounded-full flex justify-center items-center">
              <div className="justify-start text-white text-sm font-semibold font-['Plus_Jakarta_Sans'] leading-3">GG</div>
            </div>
            <div className="flex-1 inline-flex flex-col justify-center items-start gap-1.5">
              <div className="justify-start text-neutral-800 text-base font-medium font-['Inter']">Irving Tolosa</div>
              <div className="self-stretch inline-flex justify-start items-center gap-2.5">
                <div className="flex-1 h-1.5 pr-10 bg-zinc-400 rounded-2xl inline-flex flex-col justify-start items-start gap-2.5">
                  <div className="self-stretch flex-1 bg-green-600 rounded-[45px]" />
                </div>
                <div className="justify-start text-neutral-800 text-xs font-normal font-['Inter']">12/15h</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div className="size-5 bg-zinc-300" />
  <div className="size-2.5 bg-zinc-600" />
</div>